.btn{
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    color: white;
    width: 5rem;
    border: none;
    margin: 5px;
}
.btn-blue{
    background-color: blue;
    
}
.btn-red{
 background-color: red;
}