@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
:root {
  --color-texture-1: #034159;
  --color-texture-2: #025951;
  --color-texture-3: #02735e;
  --color-texture-4: #038c3e;
  --color-texture-5: #26e669;
  --color-texture-6: #ece9d7;
  --color-texture-7: #f5f1e56b;
  --font-family: "Rye", cursive;
}

body {
  font-family: var(--font-family) !important;
  background-color: var(--color-texture-6);
}
