.wrapper{
    text-align: center;
    background-color: ;
    color: green;
     margin: 0 auto;
     width: 30%; /* div sayfada ortalanır.*/ 
}
.images{
    display: block; /* <div> ya da img etiketine display: block; verildiğinde) öncesindeki öğeyi altına iter.*/
    width: 300px;
    margin: 1rem auto;
    border-radius: 1rem;
}