.counter-header {
  margin-bottom: 0;
}



.counter-button {
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
}

.positive {
  background-color: rgb(34, 238, 34);

}

.negative {
  background-color: rgb(223, 51, 225);
 
}
